.popupHeader {
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.taskList {
    font-size: 20px;
    border-top: 2px solid rgba(0,0,0,0.5);
    padding: 5px;
    display: grid;
    grid-row-gap: 10px;
}

.newTaskMenuShow {
    height: 120px;
    background-color: rgba(189,0,255,0.05);
    transition: height 1s ease-in-out , border-color 1s ease-in-out , background-color 1s ease-in-out;
    border-top: 2px solid rgba(0,0,0,0.5);
    overflow-y: hidden;
}

.newTaskMenuHide {
    height: 0px;
    background-color: rgba(0,0,0,0);
    transition: height 1s ease-in-out , border-color 1s ease-in-out , background-color 1s ease-in-out;
    border-top: 2px solid rgba(0,0,0,0);
    overflow-y: hidden;
}

.newTaskBtnShow {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: 1s transform ease-in-out;
    transform: rotate(-45deg);
}

.newTaskBtnShow:hover {
    opacity: 1;
}

.newTaskBtnHide {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: 1s transform ease-in-out;
    transform: rotate(0deg);
}

.newTaskBtnHide:hover {
    opacity: 1;
}
