.titleHeader {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid #282828;
    height: 20px;
    margin: 5px;
    padding-bottom: 3px;
    padding-left: 2px;
}

.greyBox {
    display: block;
    background-color: #282828;
    margin: 5px;
    min-height: 220px;
    padding: 5px;
}

.newTaskMenuShow {
    height: 255px;
    background-color: #282828;
    transition: height 1s ease-in-out , background-color 1s ease-in-out;
    overflow-y: hidden;
    margin: 5px;
}

.newTaskMenuHide {
    height: 0px;
    background-color: #282828;
    transition: height 1s ease-in-out , background-color 1s ease-in-out;
    overflow-y: hidden;
    margin: 5px;
}

.newTaskBtnShow {
    width: 15px;
    height: 15px;
    transition: 1s transform ease-in-out;
    transform: rotate(-45deg);
    margin: 5px;
    float: right;
}

.newTaskBtnShow:hover {
    opacity: 0.5;
}

.newTaskBtnHide {
    width: 15px;
    height: 15px;
    transition: 1s transform ease-in-out;
    transform: rotate(0deg);
    margin: 5px;
    float: right;
}

.newTaskBtnHide:hover {
    opacity: 1;
}

.break {
    height: 10px
}
