.popupHeader {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid #282828;
    padding-bottom: 2px;
    margin: 5px;
}

.taskList {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    background-color: #282828;
    display: grid;
    grid-row-gap: 5px;
    padding: 5px;
    margin: 5px;
}

.newTaskMenuShow {
    height: 250px;
    background-color: #282828;
    margin: 5px;
    overflow-y: hidden;
}

/* .newTaskMenuHide {
    height: 0px;
    background-color: rgba(0,0,0,0);
    transition: height 1s ease-in-out , border-color 1s ease-in-out , background-color 1s ease-in-out;
    border-top: 2px solid rgba(0,0,0,0);
    overflow-y: hidden;
}

.newTaskBtnShow {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: 1s transform ease-in-out;
    transform: rotate(0deg);
}

.newTaskBtnShow:hover {
    opacity: 1;
}

.newTaskBtnHide {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: 1s transform ease-in-out;
    transform: rotate(45deg);
}

.newTaskBtnHide:hover {
    opacity: 1;
} */
