.popupHeader {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid #282828;
    margin: 5px;
}

.daysContainer {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #282828;
    display: grid;
    grid-row-gap: 5px;
    margin: 5px;
}

.todayContainer {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    grid-row-gap: 10px;
    margin: 5px;
}

.dayHeading {
    column-count: 2;
    font-weight: 600;
    font-size: 14px;
    color: #FAF9F9;
    border-bottom: 1px solid #FAF9F9;
    width: 320px;
    margin: 5px;
}

.dateHeading {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FAF9F9;
    margin: 5px;
}

.timeHeading {
    text-align: right;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #FAF9F9;
}
