.popupHeader {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid #282828;
    height: 20px;
    margin: 5px;
    padding-bottom: 3px;
    padding-left: 2px;
}

.pastTaskGreyBox {
    display: block;
    background-color: #282828;
    margin: 5px;
    min-height: 505px;
    padding: 5px;
}

.todayContainer {
    padding: 2px;
    display: grid;
    grid-row-gap: 10px;
}

.dayHeading {
    column-count: 2;
    border-bottom: 1px solid #FAF9F9;
    margin: 5px;
}

.dateHeading {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FAF9F9;
    margin: 5px;

}

.timeHeading {
    text-align: right;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #FAF9F9;
    padding-right: 5px;

}


/* For upload screen */
.uploadTaskGreyBox {
    display: block;
    background-color: #282828;
    margin: 5px;
    min-height: 400px;
    padding: 5px;
}

.uploadButton {
    width: 110px;
    height: 25px;
    display: flex;
    flex-direction: row;
    background-color: #3DAD4F;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
}
.uploadTxt {
    text-align: center;
    flex-grow: 1;
    color: #282828;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
img {
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

