.dayContainer {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 2px;
    display: grid;
    grid-row-gap: 10px;
}

.dayHeading {
    column-count: 2;
    border-bottom: 1px solid #FAF9F9;
    margin: 5px;
}

.dateHeading {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FAF9F9;
    margin: 5px;

}

.timeHeading {
    text-align: right;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #FAF9F9;
    padding-right: 5px;

}