.popupContainer {
    width: 300px;
    min-height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    border-radius: 1px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    user-select: none;
    position: relative;
}

.menuBtn {
    flex-grow: 1;
    height: 50px;
    cursor: pointer;
}

.menuSlideLeft {
    position: relative;
    height: 5px;
    width: 50%;
    background-color: #bd00ff;
    left: 0px;
    transition: left 0.3s ease-in-out;
}

.menuSlideRight {
    position: relative;
    height: 5px;
    width: 50%;
    background-color: #bd00ff;
    left: 50%;
    transition: left 0.3s ease-in-out;
}

.menuBtnImg {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}
