.popupContainer {
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    border-radius: 1px;
    padding: 20px;
    padding-top: 0px;
    align-items: center;
    background-color: #363636;
    color: #9f52dd;
}

.popupHeader {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popupBody {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border-top: 2px solid rgba(0,0,0,0.5);
    padding: 5px;
}

.newTaskMenuShow {
    height: 120px;
    background-color: rgba(0,0,0,0.05);
    transition: height 1s ease-in-out , border-color 1s ease-in-out , background-color 1s ease-in-out;
    border-top: 2px solid rgba(0,0,0,0.5);
    overflow-y: hidden;
}

.newTaskMenuHide {
    height: 0px;
    background-color: rgba(0,0,0,0);
    transition: height 1s ease-in-out , border-color 1s ease-in-out , background-color 1s ease-in-out;
    border-top: 2px solid rgba(0,0,0,0);
    overflow-y: hidden;
}

.newTaskBtn {
    background-color: #9f52dd;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newTaskBtnShow {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: 1s transform ease-in-out;
    transform: rotate(0deg);
}

.newTaskBtnShow:hover {
    opacity: 1;
}

.newTaskBtnHide {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: 1s transform ease-in-out;
    transform: rotate(45deg);
}

.newTaskBtnHide:hover {
    opacity: 1;
}

.tickBtn {
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.tickBtn:hover {
    opacity: 1;
}

.todayList {
    display: grid;
    grid-row-gap: 10px;
}

.addTaskEnter {
    
}
